<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://blitzabeliter.recurity.com" 
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
               xsi:schemaLocation="http://blitzabeliter.recurity.com configschema.xsd">

  <AbcRemoveMetadata value="false"/>
  <AllowUnknownTagTypes value="false"/>
  <RequireFileAttributes value="false"/>
  <AllowMultipleFileAttributes value="true"/>
  <AllowInvalidMethodNames value="true"/>
  <FixMultipleFileAttributes value="true"/>
  <SWFFileParsingMethod value="Discontinuous"/>
  <MinimumStageSizeX value="10" />
  <MinimumStageSizeY value="10" />
  <MaximumStageSizeX value="10000" />
  <MaximumStageSizeY value="10000" />
  <HandleTagOversize value="ExpandStream" />
  <HandleStreamOversize value="Resize"/>
  <HandleHeadSizeIssue value="Fix"/>
  <HandleReservedBits value="RaisError"/>
  <AVM1DeleteInvalidBytecode value="false"/>
  <VersionMinimum value="3"/>
  <VersionMaximum value="10"/>
  <WriteCompressed value="true"/>
  <WriteCompressionLevel value="9"/>
  <AllowAVM2 value="true" />

  <TagHandlers>
    <CSMTextSettings value="true"/>   
    <DebugID value="true"/>
    <DefineBits value="true"/>
    <DefineBinaryData value="true"/>
    <DefineBitsJPEG2 value="true"/>
    <DefineBitsJPEG3 value="true"/>
    <DefineBitsLossless value="true"/>
    <DefineBitsLossless2 value="true"/>
    <DefineButton value="true"/>
    <DefineButtonSound value="true"/>
    <DefineButton2 value="true"/>
    <DefineText2 value="true"/>
    <DefineEditText value="true"/>
    <DefineFont value="true"/>
    <DefineFont2 value="true"/>
    <DefineFont3 value="true"/>
    <DefineFont4 value="true"/>
    <DefineFontInfo value="true"/>
    <DefineFontInfo2 value="true"/>
    <DefineFontAlignZones value="true"/>
    <DefineFontName value="true"/>
    <DefineMorphShape value="true"/>
    <DefineMorphShape2 value="true"/>
    <DefineSceneAndFrameLabelData value="true"/>
    <DefineScalingGrid value="true"/>
    <DefineShape value="true"/>
    <DefineShape2 value="true"/>
    <DefineShape3 value="true"/>
    <DefineShape4 value="true"/>
    <DefineSprite value="false"/>
    <DefineSound value="true"/>
    <DefineText value="true"/>
    <DefineVideoStream value="true"/>
    <DoABC value="true"/>
    <DoAction value="true"/>
    <DoInitAction value="true"/>

    <EnableDebugger value="true"/>
    <EnableDebugger2 value="true"/>
    <ExportAssets value="true"/>

    <FileAttributes value="true"/>
    <FrameLabel value="true"/>

    <ImportAssets value="true"/>
    <ImportAssets2 value="true"/> 
    
    <JPEGTables value="true"/>
    
    <Metadata value="true"/>
    

    <PlaceObject value="true"/>
    <PlaceObject2 value="true"/>
    <PlaceObject3 value="true"/>
    <ProductID value="true"/>
    <Protect value="true"/>

    <RemoveObject value="true"/>
    <RemoveObject2 value="true"/>
    <ScriptLimits value="true"/>
    <SetTabIndex value="true"/>
    <SetBackgroundColor value="true"/>
    <ShowFrame value="true"/>
    <SoundStreamHead value="true"/>
    <SoundStreamHead2 value="true"/>
    <SoundStreamBlock value="true"/>
    <StartSound value="true"/>
    <StartSound2 value="true"/>
    <SymbolClass value="true"/>
    <VideoFrame value="true"/>
  </TagHandlers>
</configuration>